saturn/src/scene/** text eol=lf
saturn/compile.bat        text eol=lf
saturn/compile-cd.bat     text eol=lf
saturn/compile-netbin.bat text eol=lf
tools/assets/pvms.bat     text eol=lf

saturn/cd/data/Z3/GAME.INF binary
