buildbot
cmake-build

# Saturn cross-build artifacts
BuildDrop/
src/*.o
src/**/*.o
build_new.log
cd/data/0.bin
cd/data/ABS.TXT
cd/data/BIB.TXT
cd/data/CPY.TXT
cd/data/BOOTSND.MAP
cd/data/SDDRVS.DAT
cd/data/SDDRVS.TSK
cd/data/MSC/*.PCM
build.log

# Image arftifacts
cd/data/**/*.TGA